:root {
    --primary-color: #E83C1F;
    --secondary-color: #F4E8D2;

    --title-font: 'Bebas Neue', sans-serif;
    --body-font: 'Raleway', sans-serif;

    --smooth-transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.4rem;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/grain.png);
    background-repeat: repeat;
    pointer-events: none;
    z-index: 1;
    mix-blend-mode: soft-light;
}

body.menu-open {
    overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
}

p {
    margin-bottom: 2.2rem;
}

.font-body {
    font-family: var(--body-font);
}

.font-title {
    font-family: var(--title-font);
}

.fs-1013 {
    font-size: 1rem;
    line-height: 1.3rem;
}

.fs-1219 {
    font-size: 1.2rem;
    line-height: 1.9rem;
}

.fs-1422 {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.fs-1622 {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.fs-1824 {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.fs-2530 {
    font-size: 2.5rem;
    line-height: 3rem;
}

.fs-2734 {
    font-size: 2.7rem;
    line-height: 3.4rem;
}

.fs-3036 {
    font-size: 3rem;
    line-height: 3.6rem;
}

.fs-3542 {
    font-size: 3.5rem;
    line-height: 4.2rem;
}

.fs-5540 {
    font-size: 5.5rem;
    line-height: 4rem;
}

@media (min-width: 992px) {
    .fs-lg-1419 {
        font-size: 1.4rem;
        line-height: 1.9rem;
    }

    .fs-lg-1624 {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .fs-lg-1821 {
        font-size: 1.8rem;
        line-height: 2.1rem;
    }

    .fs-lg-1828 {
        font-size: 1.8rem;
        line-height: 2.9rem;
    }

    .fs-lg-2030 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .fs-lg-2229 {
        font-size: 2.2rem;
        line-height: 2.9rem;
    }

    .fs-lg-2430 {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .fs-lg-2630 {
        font-size: 2.6rem;
        line-height: 3rem;
    }

    .fs-lg-3035 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .fs-lg-3540 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .fs-lg-3842 {
        font-size: 3.8rem;
        line-height: 4.2rem;
    }

    .fs-lg-4047 {
        font-size: 4rem;
        line-height: 4.7rem;
    }

    .fs-lg-4450 {
        font-size: 4.4rem;
        line-height: 5rem;
        letter-spacing: .33rem;
    }

    .fs-lg-6494 {
        font-size: 6.4rem;
        line-height: 9.4rem;
    }

    .fs-lg-12899 {
        font-size: 12.9rem;
        line-height: 9.9rem;
    }

    .fs-lg-200200 {
        font-size: 20rem;
        line-height: 20rem;
    }
}

strong {
    font-weight: 700;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.button-primary {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 1rem 3.6rem;
    border-radius: .6rem;
    border: 2px solid var(--primary-color);
    transition: var(--smooth-transition);
}

.button-primary:hover {
    color: var(--primary-color);
    background-color: transparent;
}

.button-primary-inverted {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 1rem 3.6rem;
    border-radius: .6rem;
    border: 2px solid var(--secondary-color);
    transition: var(--smooth-transition);
}

.button-primary-inverted:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.button-primary-inverted:hover svg path {
    fill: var
}

.button-footer {
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 1rem 3rem;
    border-radius: .6rem;
    border: 1px solid var(--secondary-color);
    transition: var(--smooth-transition);
}

.button-footer:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

@media (min-width: 992px) {
    .button-footer {
        padding: 1.8rem 4rem;
    }
}

/* header */

header {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    padding-block: 1rem;
    background-color: var(--secondary-color);
}

header::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.9rem;
    background-image: url(../imgs/grain.png);
    background-repeat: repeat;
    pointer-events: none;
    z-index: 1;
    mix-blend-mode: soft-light;
}

@media (min-width: 576px) {

    .header {
        position: relative;
        z-index: auto;
        top: 0;
        padding: 1.5rem 2rem;
        background-color: transparent;
    }

    .header.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        animation-name: fadeInDown;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }

    .header.fixed .container-larger {
        padding-block: 1.8rem;
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    }

    @keyframes fadeInDown {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    header::after {
        display: none;
    }

    .header.fixed .container-larger {
        background-color: var(--secondary-color);
        border-radius: 5rem;
    }
}

main {
    padding-top: 3.8rem;
}

header .logo img {
    width: 1rem;
}

@media (min-width: 992px) {
    header .logo img {
        width: auto;
    }
}

header {
    transition: var(--smooth-transition);
}

.menu-burger span {
    display: block;
    width: 2.4rem;
    height: .2rem;
    border-radius: .1rem;
    background-color: var(--primary-color);
    transition: var(--smooth-transition);
}

.menu-burger::before,
.menu-burger::after {
    content: '';
    display: block;
    width: 2.4rem;
    height: .2rem;
    border-radius: .1rem;
    background-color: var(--primary-color);
    transition: var(--smooth-transition);
}

.menu-burger::before {
    margin-bottom: .5rem;
}

.menu-burger::after {
    margin-top: .5rem;
}

header.open {
    background-color: var(--primary-color);
}

header.open a {
    color: var(--secondary-color);
}

header.open svg path {
    fill: var(--secondary-color);
}

header.open .menu-burger span,
header.open .menu-burger::before,
header.open .menu-burger::after {
    background-color: var(--secondary-color);
}

header.open .menu-burger span {
    opacity: 0;
}

header.open .menu-burger::before {
    transform: rotate(-45deg) translate(-2px, 5px);
}

header.open .menu-burger::after {
    transform: rotate(45deg) translate(-5px, -8px);
}

.mobile-menu {
    position: fixed;
    z-index: 99;
    top: 3.8rem;
    right: -100%;
    bottom: 0;
    visibility: hidden;
    width: 100%;
    height: calc(100% - 3.9rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
    transition: var(--smooth-transition);
}

.mobile-menu ul {
    padding: 2.5rem 2rem;
}

.mobile-menu ul li:first-of-type {
    border-top: 1px solid var(--secondary-color);
}

.mobile-menu ul li {
    padding: 0 1.5rem;
    border-bottom: 1px solid var(--secondary-color);
}

.mobile-menu ul li a {
    padding: .4rem 0;
    display: block;
}

.mobile-menu::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/grain.png);
    background-repeat: repeat;
    pointer-events: none;
    z-index: 1;
    mix-blend-mode: soft-light;
}

.mobile-menu .contact {
    padding: 2.5rem 2rem;
    color: var(--secondary-color);
}

.mobile-menu .contact h1 {
    padding: 0 1.5rem;
}

.mobile-menu .contact a {
    display: block;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: .6rem;
    padding-block: 1.2rem;
}

header.open .mobile-menu {
    right: 0;
    visibility: visible;
}

.container {
    padding-right: calc(var(--bs-gutter-x) * 1.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
}

.container-larger {
    max-width: 1440px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
}

.rotate-180 {
    transform: rotate(180deg);
}

.torn {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: -1rem;
}

.torn.rotate-180 {
    margin-bottom: 0;
    margin-top: -1rem;
}

.offset-hero {
    width: 16.4rem;
    margin-top: -5rem;
}

.hero-txt {
    max-width: 47.5rem;
    margin: 2.5rem auto 2.5rem auto;
}

.hero-stars {
    width: 1.2rem;
    height: auto;
}

.beer-label {
    border: 2px solid var(--primary-color);
    width: 4.9rem;
    height: 7.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow-down {
    width: 1.5rem;
}

@media (min-width: 992px) {
    .offset-hero {
        width: auto;
        margin-top: -10rem;
    }

    .beer-label {
        border: 4px solid var(--primary-color);
        width: 8.4rem;
        height: 12.7rem;
        margin: 6rem auto 0 auto;
    }

    .hero-stars {
        width: auto;
    }

    .arrow-down {
        width: auto;
    }
}

.intro .container {
    padding-block: 5rem;
}

.brew-paddle {
    width: 3.7rem;
}

.intro-txt {
    margin: 1.9rem 0 2.6rem 0;
}

.intro-cta {
    margin-top: 1.8rem;
}

@media (min-width: 992px) {
    .intro-txt {
        margin: 5.8rem 0 4.5rem 0;
    }

    .brew-paddle {
        width: auto;
    }
}

.work {
    padding-top: 6.2rem;
}

.work-title {
    margin-bottom: 3.9rem;
}

@media (min-width: 992px) {
    .work {
        padding-top: 0;
    }

    .work-title {
        margin-bottom: 8rem;
    }
}

.list-item {
    border-top: 1px solid var(--primary-color);
    padding: 1.5rem 2.5rem;
}

.list-item p {
    margin-bottom: 0;
}

.work .list-item,
.work .list-item h3,
.work .list-item p,
.work .list-item svg path {
    transition: var(--smooth-transition);
}

.work .list-item:hover {
    background-color: var(--primary-color);
    border-radius: .6rem;
}

.work .list-item:hover h3,
.list-item:hover p {
    color: var(--secondary-color);
}

.work .list-item:hover svg path {
    fill: var(--secondary-color);
}

.work .list-item:last-child {
    border-bottom: 1px solid var(--primary-color);
}

@media (min-width: 992px) {
    .list-item {
        padding: 2rem 3rem;
    }
}

.icon-container {
    gap: 1.1rem;
}

.video-reel {
    padding: 5.5rem 0 4.1rem 0;
}

@media (min-width: 992px) {
    .video-reel {
        padding: 9.5rem 0 13rem 0;
    }
}

.youtube-video-container {
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 100%;
}

.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-title {
    margin-bottom: 3rem;
}

.about-cta {
    margin: 3.5rem 0 5.2rem 0;
}

.about-img {
    position: relative;
    margin-top: 3.7rem;
    z-index: 2;
}

.my-assets {
    padding: 7.9rem 0 0 0;
}

@media (min-width: 992px) {
    .my-assets {
        padding: 16.8rem 0 12.5rem 0;
    }

    .about-img {
        margin-top: 0;
    }
}

.my-assets-title {
    margin-bottom: 1.5rem;
}

.pill {
    font-size: 1.4rem;
    line-height: 2.2rem;
    border: 1px solid var(--primary-color);
    border-radius: var(--bs-border-radius-pill);
    padding: .5rem 1rem;
    margin: 0 .6rem .6rem 0;
    transition: var(--smooth-transition);
    cursor: default;
}

.pill:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 0 1rem#E83C1F;
}

.arm-container {
    z-index: 2;
    max-width: 115rem;
    margin-bottom: -24rem;
}

@media (min-width: 992px) {
    .arm-container {
        margin-bottom: -46%;
    }
}

.round-text-container {
    z-index: 1;
    width: 65%;
    top: 10rem;
}

footer {
    padding: 4.1rem 0 6.2rem 0;
}

@media (min-width: 992px) {
    footer {
        margin: -1rem;
        padding-bottom: 7rem;
    }
}

figure img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
}


/**/

.container-right {
    padding-right: calc((100vw - 1200px) / 2);
}

@media (min-width: 576px) {
    .container-right {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container-right {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container-right {
        padding-right: calc((100vw - 960px) / 2);
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container-right {
        padding-right: calc((100vw - 1140px) / 2);
        max-width: 100%;
    }
}

@media (min-width: 1400px) {
    .container-right {
        padding-right: calc((100vw - 1200px) / 2);
        max-width: 100%;
    }
}